:root {
    --color-primario: #5C9DE6;
    --color-hover: rgb(50, 112, 112);
    --fondo-oscuro: rgba(0, 0, 0, 0.871);
    --fondo-body: #08101C;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    /* background-color:  rgba(0, 0, 0, 0.871); */
    background-color: var(--fondo-body);
}
.color_primary{
    color: var(--color-primario);
}
.color_secundary{
    color: rgb(249, 249, 249);
}

h1{font-size: 3.5em;}
h2{
    color: white;
    font-size: 2.5em;
}
h3{font-size: 2em;}
p{font-size: 1.5em}
ul{list-style: none;}
li{font-size: 1.8em;}

.container-real{
    margin-top: 130px;
    color:white;
}
.container-real h2{
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: auto;
    color: rgb(251, 250, 250);
}

#def_reservations .container{
    padding: 10px;
    text-align: justify;
}

#def_reservations p{
    font-size: 1.8em;
}

.container h2{
text-align: center;
}

.filtros{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.filtro-btn{
    height: 40px;
    width: 150px;
    border: 1px solid rgb(105, 193, 240);
    border-radius: 20px;
    font-size: 1em;
    color: rgb(146, 161, 170);
    background-color: transparent;
}

.filtro-btn:hover{
    border: 1px solid white;
    box-shadow: 0px 0px 10px var(--color-primario);
}

.filtro-btn.select{
    background-color: var(--color-primario);
    color: white;
}

footer{
    padding: 20px;
    text-align: center;
}
footer small{
    color: rgb(65, 169, 169);
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    color:white;
}


@media (max-width: 750px){

    .container-real{
        margin-top: 10px;
    }

    footer{
        padding-top:50px
    }

    footer .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
}