:root {
    --color-primario: rgb(65, 169, 169);
    --color-hover: rgb(50, 112, 112);
    --fondo-oscuro: rgba(0, 0, 0, 0.871);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html{
    scroll-behavior: smooth ;
}

body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color:  rgba(0, 0, 0, 0.871);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .btn-back{
    z-index: 100;
    font-size: 20px;
    color: white;
    margin: 15px;
}

main .container{
    width: 100%;
    color:white;
    /* margin: 10px; */
    height: 500px;
    width: 700px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid; */
    position: relative;
    overflow: hidden;
}

.container-form{
    width: 100%;
    /* border: 2px solid blue; */
    overflow: hidden;
    
}
.container-form a{
    color: white;
    padding-bottom: 20px;
    padding-top: 10px;
}
.container-form form{
    /* border: 2px solid blue; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in;
}
.container-form h2{
    font-size: 2.2em;
    margin-bottom: 20px;

}
.container-form span{
    font-size: 1em;
    margin-bottom: 20px;
}

.social-networks ion-icon{
    border-radius: 6px;
    cursor: pointer;
}

.container-form ion-icon{
    color:black;
}

.container-input{
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
    background-color: #EEEEEE;
}

.container-input input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: inherit;
}
.value-sign-in.errorField{
    border: 2px solid red;
}
.value-sign-up.errorField{
    border: 2px solid red;
}
.button{
    width: 170px;
    height: 45px;
    font-size: 15px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: var(--color-primario);
    color:white;
}
/* animacion de formulario */
.sign-in {
    background-color: #2b2b2b; 
    color: white;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.sign-up {
    transform: translateX(-100%);
    background-color: #ffffff;
    padding: 16px;
    color: black; 
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.container.toggle .sign-in{
    transform: translateX(100%);
}

.container.toggle .sign-up {
    transform: translateX(0);
    background-color: #ffffff;
    color: black;
}

/* welcome */
.container-welcome{
    border: 2px;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    background-color: #209072;
    transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out, background-color 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 0% 50% 0 0%;
}

.container.toggle .container-welcome{
    transform: translateX(0);
    border-radius: 0% 0% 0% 50%;
    background-color: #21a3a3;
    
}

.container-welcome .welcome{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: rgb(255, 255, 255);
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.welcome-sign-in{
    padding:10px;
    transform:translateX(100%) ;
}
.container-welcome h3{
    font-size: 40px;
}
.container-welcome p{
    font-size: 20px;
    text-align: center;
}
.container-welcome .button{
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    
}
.container-welcome .button:hover{
background-color: var(--color-hover);
}

.container.toggle .welcome-sign-in{
    transform: translateX(0);
}

.container.toggle .welcome-sign-up{
    transform: translateX(-100%);
}
/* mobile  */
@media (max-width:750px){


    html, body {
        width: 100%;
        height: 100dvh; 
        background-color: rgba(0, 0, 0, 0.871);
        overflow: hidden; 
    }

    main {
        width: 100%;
        height: 100%; 
        display: flex; 
    }

    main .container {
        width: 100%;
        height: 100%; 
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .container-form form{
        position: absolute;
        width: 100%;
        height: 50%;
        top: 0;
        left: 0%;
        display: flex;
    }

    main .btn-back{
        font-size: 30px;
        position: absolute;
    }

    main .container-welcome {
        width: 100%;
        height: 50%;
        top: auto;
        bottom: 0; 
        transform: translateY(0); 
        border-radius: 0; 
        z-index: 10;
        transition: transform 0.7s ease-in-out;
    }
    #btn-sing-in-from{
        margin-bottom: 10px;
    }
    .container-input{
        margin: 4px 20px;
    }

    .welcome-sign-up{
        padding-bottom: 100px;
        padding-top:140px;
    }
    .welcome-sign-in {
        padding-top: 100px;
        padding-bottom: 100px;
        transform: translateY(100%); 
        
    }
    /* animacion de welcome y form */
    /* welcome */
    .container.toggle .container-welcome {
        transition: transform 0.7s ease-in-out;
        transform: translateY(-100%);
        border-radius: 0;
    }
    .container.toggle .welcome-sign-in { 
        transition: transform 0.7s ease-in-out;
        transform: translateY(0); 
    }
    .container.toggle .welcome-sign-up { 
        transition: transform 0.7s ease-in-out;
        transform: translateY(-100%); 
    }  
    /* form */
   .container-form form.sign-in{
        transition: transform 0.7s ease-in-out;
        z-index: 1;
    }
    .container-form form.sign-up{
        transition: transform 0.7s ease-in-out;
        transform: translateY(0%);
    }
    .container.toggle .container-form form.sign-up{
        transition: transform 0.7s ease-in-out;
        transform: translateY(100%);
    }
    .container.toggle .container-form form.sign-in{
        transition: transform 0.7s ease-in-out;
        transform: translateY(-100%);
    }
}